/* line 8, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
* {
  box-sizing: border-box; }

/* line 11, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
html {
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover; }

/* line 16, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
body {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #fff; }

/* line 23, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
a {
  text-decoration: none;
  display: inline-block;
  color: #0d9cce; }

/* line 28, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
p {
  font-size: 18px;
  line-height: 32px;
  font-weight: 300; }

/* line 34, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h1, h2, h3 {
  font-family: 'Nixie One', cursive; }

/* line 37, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
a.button {
  display: block;
  width: 100%;
  padding: 25px 0;
  margin-top: 35px;
  border: solid 1px #fff;
  border-radius: 10px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  transition: all 0.5s; }

/* line 49, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
a.button:hover {
  background-color: white;
  color: #0d9cce; }

/* line 54, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.header, .main, .footer {
  width: 100%;
  display: block; }

/* line 59, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.header {
  padding: 10px;
  border-bottom: 3px solid #0d9cce;
  background-color: #fff;
  transition: all 0.5s; }

/* line 66, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.nav {
  margin: 0;
  padding: 0;
  text-align: center; }
  /* line 71, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  .nav li {
    margin: 0;
    padding: 0;
    display: inline-block;
    list-style: none;
    width: 15%; }
    /* line 78, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    .nav li a {
      color: #333;
      transition: all 0.2s;
      padding-bottom: 5px;
      text-transform: uppercase;
      font-size: 18px; }
      /* line 85, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
      .nav li a img {
        width: 120px; }
    /* line 88, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    .nav li a:hover {
      color: #0d9cce;
      border-bottom: solid 2px #0d9cce;
      padding-bottom: 3px; }

/* line 94, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.main {
  padding: 0 20px; }

/* line 97, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h1 {
  text-align: center;
  font-size: 30px;
  margin: 50px; }

/* line 101, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h1.heading {
  text-align: left;
  width: 100%;
  max-width: 1170px;
  margin: 50px auto; }

/* line 107, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h2 {
  font-size: 26px; }

/* line 109, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h2.quote {
  text-align: center;
  margin: 30px; }

/* line 113, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h3 {
  text-align: center;
  font-size: 22px; }

/* line 117, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
h3.heading {
  text-align: left; }

/* line 121, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
section {
  margin: 50px auto;
  width: 100%;
  max-width: 1170px;
  border: solid 1px #fff;
  padding: 25px;
  border-radius: 10px;
  overflow: hidden; }

/* line 130, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.leftCol {
  width: 60%;
  float: left;
  overflow: hidden; }
  /* line 135, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  .leftCol p {
    margin-top: 0; }
  /* line 138, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  .leftCol ul {
    list-style: none;
    padding: 0; }
  /* line 141, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  .leftCol li {
    background-image: url(../images/list.svg);
    background-repeat: no-repeat;
    background-position: 3px;
    background-size: 15px 15px;
    font-size: 18px;
    padding: 0 0 0 35px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin-top: 10px; }

/* line 152, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.rightCol {
  width: 38%;
  float: right; }
  /* line 156, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  .rightCol img {
    width: 100%;
    border-radius: 10px;
    border: solid #fff 1px; }

/* line 161, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.leftList {
  width: 48%;
  display: inline-block;
  overflow: hidden; }

/* line 166, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.rightList {
  width: 48%;
  display: inline-block;
  overflow: hidden; }

/* line 172, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.portfolioHome {
  text-align: center; }

/* line 174, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.portfolioHomeItem {
  width: 20%;
  padding: 0 2% 2%;
  display: inline-block; }
  /* line 180, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.portfolioHomeItem a img {
    width: 100%;
    border-radius: 10px;
    transition: all 0.3s;
    border: solid 1px #fff; }
  /* line 185, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.portfolioHomeItem a:hover img {
    border-radius: 20%; }

/* line 192, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.page.contact section div.leftCol, div.page.contact section div.rightCol {
  width: 48%; }
/* line 197, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.page.contact section div.rightCol div.socialLink {
  border-top: solid 1px #fff;
  border-bottom: solid 1px #fff;
  padding: 25px 0;
  overflow: hidden; }
  /* line 202, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.page.contact section div.rightCol div.socialLink a {
    width: 10%;
    float: left;
    height: auto; }
    /* line 206, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.page.contact section div.rightCol div.socialLink a img {
      background-color: #fff;
      transition: all 0.3s; }
  /* line 209, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.page.contact section div.rightCol div.socialLink a:hover img {
    border-radius: 50%; }
  /* line 212, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.page.contact section div.rightCol div.socialLink div.links {
    float: left;
    width: 85%;
    margin-left: 4%; }
    /* line 216, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.page.contact section div.rightCol div.socialLink div.links p {
      margin: 0; }
    /* line 218, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.page.contact section div.rightCol div.socialLink div.links a {
      color: #fff;
      transition: all 0.3s; }
    /* line 221, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.page.contact section div.rightCol div.socialLink div.links a:hover {
      color: #0d9cce; }

/* line 225, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.portfolioItem {
  margin-bottom: 25px; }
  /* line 227, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.portfolioItem a {
    display: inline-block;
    width: 25%; }
    /* line 230, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.portfolioItem a img {
      width: 100%;
      border-radius: 10px;
      transition: all 0.3s;
      border: solid 1px #fff; }
  /* line 235, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.portfolioItem a:hover img {
    border-radius: 15%; }
  /* line 238, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.portfolioItem div.portfolioItemInfo {
    width: 74%;
    display: inline-block;
    vertical-align: top;
    padding-left: 25px; }
    /* line 243, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.portfolioItem div.portfolioItemInfo a {
      display: block;
      width: 100%;
      color: #fff;
      transition: all 0.5s; }
      /* line 248, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
      div.portfolioItem div.portfolioItemInfo a h3 {
        border-bottom: solid 1px #fff;
        padding: 0 0 10px;
        margin: 25px 15%; }
    /* line 252, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.portfolioItem div.portfolioItemInfo a:hover {
      color: #0d9cce;
      text-shadow: 1px 1px #333; }
    /* line 256, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.portfolioItem div.portfolioItemInfo a.button {
      margin-top: 25px;
      padding: 15px 0; }
    /* line 259, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
    div.portfolioItem div.portfolioItemInfo a.button:hover {
      text-shadow: 0px 0px #fff; }

/* line 262, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.portfolioItem:last-child {
  margin-bottom: 0px; }

/* line 266, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.workItem, div.eduItem {
  margin: 50px 0; }
  /* line 268, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.workItem a h3, div.eduItem a h3 {
    color: #fff;
    transition: all 0.5s;
    margin-bottom: 0;
    border-bottom: solid 1px #333; }
  /* line 273, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.workItem a:hover h3, div.eduItem a:hover h3 {
    color: #0d9cce;
    border-bottom: solid 1px #0d9cce; }
  /* line 276, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.workItem p.date, div.eduItem p.date {
    font-style: italic; }
  /* line 278, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.workItem a.button, div.eduItem a.button {
    padding: 15px; }

/* line 281, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
div.eduItem:last-child {
  margin-bottom: 25px; }
  /* line 283, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  div.eduItem:last-child p:last-child {
    margin-bottom: 0px; }

/* line 288, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
.footer {
  padding: 10px;
  background-color: #fff;
  border-top: solid 3px #0d9cce; }
  /* line 293, /Users/jessesinfield/Desktop/New-Portfolio-Site/src/assets/styles/index.sass */
  .footer p {
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #0d9cce; }
